*{
   /** outline: 1px solid red; */
}

body {
    background-color: #ddd;
}


.header, .content {
    background-color: #fff;
}

.app-heading {
    font-size: 32px;
}

.ministry-heading {
    border-left: 5px solid red;
    padding-left: 5px;
    margin-bottom: 20px;
}

.ministry-heading h2 {
    display: inline-block;
    margin: 0 0 0 15px;
    font-size: 28px;
}

.bold {
    font-weight: bold;
}

hr {
    border: none;
    margin-bottom: 30px;
    margin-top: 10px;
}

.main-hr {
    background-color: #f00;
    height: 3px;
}

.sub-hr-1, .sub-hr-2 {
    background-color: #bcbbbb;
    height: 1px;
}


.upload {
    text-align: center;
    margin-bottom: 10px;
}

.error {
    color: red;
    font-size: 25px;
    text-align: center;
}

.accordion h3.ui-accordion-header {
    border: 0;
    border-radius: 0;
    background: #fff;
    color: #00f;
    padding-left: 0;
}

.accordion .ui-accordion-content {
    border:0;
    padding-left: 0;
}



